.f1{
    /* display:block; */
    border: 2px solid green;
    background-color: antiquewhite;
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto auto;
}